<h1>Hello from adding movies page</h1>
<h3>Add a movie to <%= @list.name %></h3>

<%= simple_form_for ([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: Movie.where.not(id: @list.movies.pluck(:id)) %>
  <%= f.submit %>
<% end %>
