<div class= 'styled-form container mt-5 text-bg-secondary p-5 rounded-2' style='--bs-bg-opacity: .25;'>
<h3>Add a movie to <%= @list.name %></h3>

<%= simple_form_for ([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: Movie.where.not(id: @list.movies.pluck(:id)) %>
  <%= f.submit %>
<% end %>
</div>
