<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

<style>
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Playfair+Display&display=swap');
</style>

  </head>

  <body>

</div>
<nav class="navbar bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-film fa-xl"></i>
      <div class = "link-hover text-decoration-none">
      <%=link_to 'back to all lists', lists_path %>
      </div>
    </a>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
